################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Microsoft Teams Classic - Google Chrome 2023-10-17 14-02-45.mp4
/CinemaAPI-main/.vs/CinemaAPI-main/v17/.wsuo
/CinemaAPI-main/.vs/CinemaAPI-main/v17/.wsuo
/MovieTickets/MovieTickets.sln
